apache-libcloud
apispec
apispec-webframeworks
cryptography>43.0.1
# Cython==0.29.36 # indirect dependency
dicomweb-client==0.60.0
docker
filelock
flake8
Flask
Flask-Limiter
Flask-WTF>=1.1.0
grpcio==1.67.1
huggingface_hub
jsonschema
kubernetes==32.0.1
marshmallow
marshmallow-enum
ngcsdk==3.151.0
numpy
omegaconf==2.3.0
orjson
packaging
pandas
pyarmor
pycryptodome==3.23.0
pycocotools
pydicom==3.0.1
pydocstyle
pymongo==4.13.0
pylint
pynvml==12.0.0
PyJWT
PyYAML
requests
requests_toolbelt==1.0.0
ruamel.yaml==0.18.12
s3fs
scikit-learn>=1.3.0
scipy
setuptools==78.1.1
six==1.16.0
timeloop==1.0.2
toml
torchao==0.11.0
transformers
tritonclient[all]
uWSGI
validators==0.35.0
Werkzeug==3.1.3
